<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xagu.mooc.user.mapper.PowerMapper">
    <resultMap id="BaseResultMap" type="com.xagu.mooc.user.pojo.Power">
        <!--@mbg.generated-->
        <!--@Table `power`-->
        <id column="power_id" jdbcType="INTEGER" property="powerId"/>
        <result column="power_name" jdbcType="VARCHAR" property="powerName"/>
        <result column="power_type" jdbcType="INTEGER" property="powerType"/>
        <result column="power_code" jdbcType="VARCHAR" property="powerCode"/>
        <result column="power_url" jdbcType="VARCHAR" property="powerUrl"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="enable" jdbcType="TINYINT" property="enable"/>
    </resultMap>

    <resultMap id="PowerOfRoleResultMap" type="com.xagu.mooc.user.vo.PowerOfRole">
        <!--@mbg.generated-->
        <!--@Table `power`-->
        <id column="power_id" jdbcType="INTEGER" property="powerId"/>
        <result column="power_name" jdbcType="VARCHAR" property="powerName"/>
        <result column="power_type" jdbcType="INTEGER" property="powerType"/>
        <result column="power_code" jdbcType="VARCHAR" property="powerCode"/>
        <result column="power_url" jdbcType="VARCHAR" property="powerUrl"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="enable" jdbcType="TINYINT" property="enable"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        power_id, power_name, power_type, power_code, power_url, parent_id, icon, sort, `enable`
    </sql>

    <update id="updateById" parameterType="com.xagu.mooc.user.pojo.Power">
        <!--@mbg.generated-->
        update power
        <set>
            <if test="powerName != null and powerName != ''">
                power_name = #{powerName,jdbcType=VARCHAR},
            </if>
            <if test="powerType != null">
                power_type = #{powerType,jdbcType=INTEGER},
            </if>
            <if test="powerCode != null and powerCode != ''">
                power_code = #{powerCode,jdbcType=VARCHAR},
            </if>
            <if test="powerUrl != null and powerUrl != ''">
                power_url = #{powerUrl,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="enable != null">
                `enable` = #{enable,jdbcType=TINYINT},
            </if>
        </set>
        where power_id = #{powerId,jdbcType=INTEGER}
    </update>

    <delete id="batchDelete">
        delete
        from power
                where power_id in
        <foreach close=")" collection="array" item="id" open="(" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>
    </delete>
    <!--auto generated by MybatisCodeHelper on 2020-06-08-->
    <insert id="insert">
        INSERT INTO `power`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            power_name,
            power_type,
            <if test="powerCode != null and powerCode != ''">
                power_code,
            </if>

            <if test="powerUrl != null and powerUrl != ''">
                power_url,
            </if>
            parent_id,
            icon,
            sort,
            enable
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{powerName,jdbcType=VARCHAR},
            #{powerType,jdbcType=INTEGER},
            <if test="powerCode != null and powerCode != ''">
                #{powerCode,jdbcType=VARCHAR},
            </if>
            <if test="powerUrl != null and powerUrl != ''">
                #{powerUrl,jdbcType=VARCHAR},
            </if>
            #{parentId,jdbcType=INTEGER},
            #{icon,jdbcType=VARCHAR},
            #{sort,jdbcType=INTEGER},
            #{enable,jdbcType=TINYINT}
        </trim>
    </insert>
    <!--auto generated by MybatisCodeHelper on 2020-06-08-->
    <select id="selectByAll" resultMap="PowerOfRoleResultMap">
        select
        <include refid="Base_Column_List"/>
        from `power`
        <where>
            <if test="powerId != null">
                and power_id = #{powerId,jdbcType=INTEGER}
            </if>
            <if test="powerName != null and powerName != ''">
                and power_name = #{powerName,jdbcType=VARCHAR}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId,jdbcType=INTEGER}
            </if>
            <if test="enable != null">
                and `enable` = #{enable,jdbcType=TINYINT}
            </if>
        </where>
        order by sort asc
    </select>
    <select id="selectPowerByUserId" resultMap="BaseResultMap">
        select `power`.power_id,
               `power`.power_name,
               `power`.power_type,
               `power`.power_code,
               `power`.power_url,
               `power`.parent_id,
               `power`.icon,
               `power`.sort,
               `power`.enable
        from user_role
                     INNER join role on user_role.role_id = role.role_id
                     INNER join role_power on role.role_id = role_power.role_id
                     INNER join power on role_power.power_id = power.power_id
        where user_role.user_id = #{userId,jdbcType=INTEGER}
        order by power.sort asc
    </select>
    <select id="selectPowerOfRole" resultMap="PowerOfRoleResultMap">
        select
        <include refid="Base_Column_List"/>
        from power
    </select>
</mapper>